spring:
  application:
    name: backend
  datasource:
    url: jdbc:postgresql://localhost:5432/pedidos_otica
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
      database_platform: org.hibernate.dialect.PostgresSQLDialect